<div class="mt-4 mb-4">
  <span class="badge badge-pill badge-success my-2" style="font-size: 2rem;"><i>Đăng mới sản phẩm</i></span>

  <form method="POST" action="/courses/store">
    <div class="form-group">
      <label for="name"class='bx bxs-edit-alt'>Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="sex"class='bx bxs-edit-alt'>Sex:</label>
      <input
        type="text"
        class="form-control"
        id="sex"
        name="sex"
      />
    </div>
    <div class="form-group">
      <label for="price"class='bx bx-dollar'>Price:</label>
      <input
        type="text"
        class="form-control"
        id="price"
        name="price"
      />
    </div>
    <div class="form-group">
      <label for="quantity"class='bx bxs-bar-chart-alt-2'>Quantity:</label>
      <input
        type="text"
        class="form-control"
        id="quantity"
        name="quantity"
      />
    </div>
    <div class="form-group">
      <label for="imga" class='bx bx-image-add'>ImageA:</label>
      <input
        type="text"
        class="form-control"
        id="imga"
        name="imga.img"
      />
    </div>
    <div class="form-group">
      <label for="imgb"class='bx bx-image-add'>ImageB:</label>
      <input
        type="text"
        class="form-control"
        id="imgb"
        name="imgb.img"
      />
    </div>
    <div class="form-group">
      <label for="imgc"class='bx bx-image-add'>ImageC:</label>
      <input
        type="text"
        class="form-control"
        id="imgc"
        name="imgc.img"
      />
    </div>
    <div class="form-group">
      <label for="material" class='bx bx-recycle'>Material:</label>
      <input
        type="text"
        class="form-control"
        id="material"
        name="material"
      />
    </div>
    <div class="form-group">
      <label for="slug"class='bx bx-share-alt'>Type:</label>
      <input
        type="text"
        class="form-control"
        id="type"
        name="type"
      />
    </div>
    <div class="form-group">
      <label for="slug"class='bx bx-share-alt'>Slug:</label>
      <input
        type="text"
        class="form-control"
        id="slug"
        name="slug"
      />
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
  </form>
</div>